:root {
  --color-base-dark: #672280;
  --color-base-light: #A626D3;
  --color-base-contrast: #FEFEFE;
  --linear-background: linear-gradient(90deg, var(--color-base-dark) 0%, var(--color-base-light) 100%);
}

/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
      --color-background: #FEFEFE  ;
      --color-text: #2B283A;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
      --color-background: #212121;
      --color-text: #FEFEFE;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-color: var(--color-background)
}

.GridContainer {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:  "H H H H H"
                        "M M M M M"
                        "F F F F F";
}

.header {
  grid-area: H;
  display: flex;
  background: var(--linear-background);
  color: var(--color-base-contrast);
  height: 4rem;
  align-items: center;
  padding: 1.25rem;
}

.header--image {
  height: 100%;
  margin-right: 0.25rem;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  grid-area: M;
  padding: 2rem;
}

.form {
  display: block;
  width: 100%;
}

.form--firstLine {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.form--entry {
  display: flex;
  position: relative;
  width: 100%;
  height: 3rem;
}

.form--input {
  position: absolute;
  border-radius: 0.8rem;
  width: 100%;
  font-size: 1.25rem;
  padding:  0.8rem 1.5rem;
  outline: none;
  border: 2px solid var(--color-base-dark);
  color: var(--color-text);
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.form--label {
  position: absolute;
  font-size: 1.25rem;
  padding: 0;
  color: var(--color-text);
  top: 0.8rem;
  padding: 0 1.4rem;
  margin: 0 0.3rem;
  background: var(--color-background);
  transition: 0.2s ease;
}

.form--input:focus, .form--input:valid {
  color: var(--color-text);
  border: 3.5px solid var(--color-base-dark);
}

.form--input:focus + .form--label,
.form--input:valid + .form--label {
  color: var(--color-base-dark);
  height: 30px;
  line-height: 30px;
  transform: translate(-0.5rem, -1.7rem) scale(0.75);
  z-index: 1111;
}

.form--button {
  display: block;
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  border-radius: 0.7rem;
  background: var(--linear-background);
  color: var(--color-base-contrast);
  border: none;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  display: flex;
  margin: 2rem auto;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.footer {
  grid-area: F;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background: var(--linear-background);
  color: var(--color-base-contrast);
}


@media (max-width: 500px) {
  .form--firstLine {
      flex-direction: column;
      gap: 2rem;
  }
  .meme--text {
      font-size: 1.5rem;
  }
}